body {
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: black;
}

img {
    display: block;
    margin: auto;
    width: 45%;
    border: solid 5px darkgray;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

#fishHook {
    max-height: 100%;
    max-width: 100%;
}