body {
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: black;
}

img {
    display: block;
    margin: auto;
    width: 45%;
    border: solid 5px darkgray;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

#main {
    text-align: center;
    border-left: dotted;
    border-right: dotted;
    border-color: black;
}

#aboutList {
    border: solid;
    border-color: black;
    padding: 30px;
    display: inline-block;
    text-align: left;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
    border-right: 2px solid #bbb;
}
  
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: cyan;
}

#fishHook {
    max-height: 100%;
    max-width: 100%;
}

#navbar #navitemButton {
    float: right;
}

#cssButton {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}
